/.DS_Store
/CSS
/ÇALIŞMA İÇİN.html
/assigment2.html
/assignment.html
/block_inline_elements.html
/bookmarks.html
/formating_tags.html
/hello_world.html
/id.html
/images.html
/index.html
/jobs_origin.html
/jobs_page
/links.html
/list_elements.html
/tables.html
/yeni tekrar.html
/yeni2.html
/Örnek Slack den.html
/İMAGES